@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subform {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.input {
  margin-top: 2px;
  width: 19vw;
  min-width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
  padding-left: 0.5vw;
  font-family: "Poppins", sans-serif;
}

.input:focus {
  outline: none !important;
  border: 1px solid rgb(82, 156, 220);
  box-shadow: 0 0 5px #719ece;
}

#submit {
  margin-top: 10px;
  width: 19vw;
  min-width: 200px;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: rgb(65, 14, 113);
  border: 1px solid black;
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: -1px;
}

/* Sidebar css */
/* .sidebar {
  min-width: 260px;
  background-color: #3f0e40;
  color: #d1d2d3;
} */

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(82, 38, 83);
  border-bottom: 1px solid rgb(82, 38, 83);
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
}

.sidebar-header:hover {
  background-color: #350d36;
}

.sidebar-content {
  overflow-y: auto;
}

.button-new-message {
  color: #3f0e40;
  background-color: #fff;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#sidebar {
  background-color: #3f0e40;
  width: 17%;
  height: 100vh;
  color: rgba(255, 255, 255, 0.85);
  min-width: 200px;
  max-width: 265px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#conversations {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.channel-con {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

/* ListofDMs css */
.header {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  height: 36px;
  cursor: pointer;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.button-dropdown {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-right: 6px;
  border-radius: 5px;
}

.button-plus {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
}

.button-plus:hover,
.button-dropdown:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hovered {
  visibility: visible;
}

.not-hovered {
  visibility: hidden;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.ul-DMUsers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-DMUser {
  height: 28px;
  font-size: 15px;
  padding-right: 16px;
  padding-left: 29px;
  cursor: pointer;
}

.channel-con:hover {
  background-color: rgba(37, 37, 37, 0.7);
}

.channel-name {
  background-color: transparent;
  border: none;
  font-family: "Lato", "sans-serif";
  font-size: 15px;
  margin-left: 5px;
  height: 100%;
}

#channel-title {
  font-size: 17px;
  margin-left: 5px;
}

#channel-title-con {
  margin: 10px 0 5px 0px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  height: 16px;
  margin-left: 35px;
  opacity: 0.85;
}

.arrowdown {
  margin-left: 20px;
  height: 16px;
}

#workspaces {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
}

.li-DMUser:hover {
  background-color: #350d36;
}

.clicked {
  background-color: #1164a3;
  color: #fff;
}

#server {
  margin-left: 15px;
  font-size: calc(10px + 1vmin);
  color: white;
}

.receiver-name {
  font-size: 1.3em;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.name-and-input {
  display: flex;
  flex-direction: column;
  margin: 0 0.25rem;
  box-shadow: 1px 1px 3px 1px black;
}

.search-div {
  display: flex;
  padding: 0.5rem;
  align-items: baseline;
}

.search-all-user-input {
  width: 100%;
  margin: 0 1rem;
  border-radius: 7px;
  padding: 0.35rem;
  position: relative;
  border: 0;
  outline: none;
}

.searched-user-container {
  display: block;
  position: absolute;
  overflow-y: scroll;
  top: 110px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px black;
  background-color: hsl(0, 0%, 100%);
  margin: 1rem;
  padding: 0 2.5rem;
  max-height: 500px;
  z-index: 999;
}

.searched-user-container > * {
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.searched-user-container > *:hover {
  background-color: #5676e0;
  border-radius: 5px;
  font-weight: 400;
}

.message-container {
  /* margin: 0.2rem; */
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.sender-details {
  display: flex;
  align-items: center;
  gap: 1%;
  margin: 0.25rem 0;
  font-family: "Poppins", sans-serif;
}

.sender-uid {
  font-size: 0.9em;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  /* text-shadow: 0px 0px 2px hsl(0, 0%, 0%, 0.2); */
}

.time-sent {
  font-size: 0.5em;
  font-family: "Poppins", sans-serif;
}

.message-body {
  font-size: 1em;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.messages-container {
  width: 100%;
  padding: 1rem 0;
  height: 78vh;
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
}

.send-message-form {
  display: flex;
  margin: 0.5rem;
}

.message-body-input {
  flex-grow: 2;
  border-radius: 5px;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.send-message-button {
  height: 100px;
  width: 80px;
  border: 0;
  background-color: transparent;
  box-shadow: 0 0 1.5px 1px black;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.messages-dashboard {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#logout-button {
  background-color: transparent;
  padding: 0.5rem;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 5px;
  height: 35px;
}

.error {
  margin-top: 3px;
  color: red;
  width: 19vw;
  min-width: 200px;
  font-size: 14px;
  min-height: 20px;
}
