@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subform {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input {
  margin-top: 2px;
  width: 19vw;
  min-width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
  padding-left: 0.5vw;
  font-family: "Poppins", sans-serif;
}

.input:focus {
  outline: none !important;
  border: 1px solid rgb(82, 156, 220);
  box-shadow: 0 0 5px #719ece;
}

#submit {
  margin-top: 10px;
  width: 20vw;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: rgb(65, 14, 113);
  border: 1px solid black;
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: -1px;
  min-width: 212px;
}

/* Dashboard CSS */
.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Sidebar css */
.sidebar {
  min-width: 260px;
  background-color: #3F0E40;
  color: #d1d2d3;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(82,38,83);
  border-bottom: 1px solid rgb(82,38,83);
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
}

.sidebar-header:hover {
  background-color: #350D36;
}

.button-new-message {
  color: #3F0E40;
  background-color: #fff;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ListofDMs css */
.header-dm {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  height: 36px;
  cursor: pointer;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.button-dropdown {
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-right: 6px;
  border-radius: 5px;
}

.button-plus {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
}

.button-plus:hover,
.button-dropdown:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hovered {
  visibility: visible;
}

.not-hovered {
  visibility: hidden;
}

.dms-active {
  display: block;
}

.dms-inactive {
  display: none;
}

.ul-DMUsers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-DMUser {
  height: 28px;
  font-size: 15px;
  padding-right: 16px;
  padding-left: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.li-DMUser:hover {
  background-color: #350D36;
}

.clicked {
  background-color: #1164a3;
  color: #fff;
}