@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subform {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.input {
  margin-top: 2px;
  width: 19vw;
  min-width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
  padding-left: 0.5vw;
  font-family: "Poppins", sans-serif;
}

.input:focus {
  outline: none !important;
  border: 1px solid rgb(82, 156, 220);
  box-shadow: 0 0 5px #719ece;
}

#submit {
  margin-top: 10px;
  width: 20vw;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: rgb(65, 14, 113);
  border: 1px solid black;
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: -1px;
  min-width: 212px;
}

#dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
}

#sidebar {
  background-color: rgb(85, 26, 85);
  width: 20%;
  height: 100vh;
  color: white;
}

#conversations {
  width: 80%;
  overflow-y: scroll;
}

.channel-con {
  width: 100%;
  margin: 5px 0;
}

.channel-name {
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: "Lato", "sans-serif";
  font-size: 15px;
  margin-left: 10px;
}
