.modal-overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: black;
}

.modal-box {
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--saf-0), 0 18px 48px 0 #00000059;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
  max-width: 520px;
  width: 100%;
}

.modal-header {
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  border-radius: 8px 8px 0 0;
  flex-shrink: 0;
  min-height: 70px;
  overflow: hidden;
  width: 100%;
}

.modal-title-bar {
  padding-right: 76px;
  display: flex;
  padding: 20px 28px;
}

.modal-middle {
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  display: flex;
  flex-shrink: 1;
  min-height: 50px;
  overflow: hidden;
  position: relative;
}

.c-scrollbar__hider {
  bottom: 0;
  height: 100%;
  left: 0;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: -50px;
  top: 0;
  transform: translateZ(0);
}

.modal-inner {
  overflow: hidden;
}

.modal-content-section {
  padding: 0 28px;
}
.modal-text {
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
  margin-bottom: 24px;
}

.modal-label {
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
  display: inline-block;
  margin-right: 8px;
}

.modal-channel-con {
  margin-bottom: 20px;
  margin-top: 8px;
}

.modal-members-input-con {
  margin-bottom: 20px;
  margin-top: 8px;
}

.modal-input {
  --saf-0: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.3);
  background-color: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  border: 1px solid var(--saf-0);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  font-size: 15px;
  height: 36px;
  line-height: 1.86666667;
  line-height: normal;
  padding: 3px 12px 5px;
  transition: border 80ms ease-out, box-shadow 80ms ease-out;
  width: 100%;
  padding-right: 46px;
}
.modal-button {
  font-size: 15px;
  height: 36px;
  min-width: 80px;
  padding: 0 12px 1px;
  background: rgb(65, 14, 113);
  box-shadow: none;
  color: #fff;
  font-weight: 700;
  transition: all 80ms linear;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  outline: none;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.modal-footer-con {
  display: flex;
  margin-top: auto;
  padding: 24px 28px;
}
.modal-footer-button {
  width: 100%;
}

.modal-close-button {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  height: 36px;
  width: 36px;
  color: rgba(var(--sk_foreground_max, 29, 28, 29), 0.7);
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  margin: 0;
  overflow: initial;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.members {
  font-size: 12px;
  margin-right: 3px;
}
.flex {
  display: flex;
}
.box {
  background-color: #c9c9c959;
  padding: 5px;
}
.flex-dir {
  flex-direction: column;
}

/* modal channel info */

.p-field_group {
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  border: 1px solid var(--saf-0);
  border-radius: 12px;
  margin: 16px 28px;
}
.paddingg {
  padding: 16px 20px;
}

h3 {
  margin: 0;
  padding: 0;
}
